section{
    display: flex;
}
.assignment{
    width: 30%;
    border: 3px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.assignment > ul{
    margin-right: 50px;
}
.form{
    border: 3px solid gray;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    /* border: 1px solid black; */
    width: 50%;
}
table{
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
}
td{
    border: 1px solid black;
    vertical-align: top;
}
tr td:nth-child(1){
    width: 25px;
}
